
#[derive(StructOpt, Debug, Clone)]
#[command(about = env!("CARGO_PKG_DESCRIPTION"))]
pub struct Args {
}

#[test]
fn test_cli_args() {
    use clap::IntoApp;
    Args::try_parse_from(&["cmd", "--help"]).unwrap();
}
